*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: sans-serif;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
  background-image: linear-gradient(to right, #f5cba7, #784212);
  padding: 0 !important;
  margin-top: -100px !important;
}
.navbar-brand img
{
    height: 80px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

section::before {
    height: 100px;
    content: "";
    display:block;
}
/*------------banner section--------------*/
#banner
{
    background-image: linear-gradient(to right, #f5cba7, #784212);
    color: #fff;
    padding-top: 3%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 25px;
}
.play-btn
{
   width: 45px;
   margin: 20px;
}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.foundation a
{
    width: 100px;
}
.foundation img
{
    width: 500px;
    padding-bottom: 50px;
}
.bottom-img
{
    width: 100%;
}

/*---------------------projects section-----------------*/

#projects
{
    background: #f5cba7;
    padding: 50px 0;
}
.project-img
{
    height: 100px;
    margin-top: 20px;
    vertical-align: middle;
}
.projects
{
    padding: 20px;
}
.projects h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #825917c5;
    height: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(73px);
}
.title::after
{
    content: '';
    background: #825917c5;
    height: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(17px);
}
#projects .btn-primary
{
    box-shadow: none;
    padding: 8px, 25px;
    margin-bottom: 40px;
    border: none;
    border-radius: 20px;
    background: #784212;
}

/*--------------------------education section---------------------*/

#education
{
    background: #f5cba7;
    padding-top: 50px;
}
.education
{
    padding-bottom: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    border-left: 4px solid #825917c5;
    border-right: 4px solid #825917c5;
    text-align: center;
}
.education img
{
    height: 200px;
    width: 200px;
    border-radius: 5%;
    margin: 0 10;
}

/*--------------------------bio section-----------------------------*/

#bio
{
    background-color: #f5cba7; 
    padding-top: 100px;
    display: flex;
}
.bio
{
    padding: 20px;
    font-size: larger;
    vertical-align: middle;
    
    
}
.right
{
    text-align: right;
    vertical-align: middle;
}
.left
{
    text-align: left;
    vertical-align: middle;
}

.biopic1 
{
    padding: 15px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    vertical-align: middle;
    shape-outside: circle();
    float: left;
    shape-margin: 10px;
} 
  .biopic2 
{
    padding: 15px;
    width: 300px;
    height: 300px;
    vertical-align: middle;
    border-radius: 50%; 
    shape-outside: circle();
    float: right;
    shape-margin: 10px;
} 

/*--------------------------social-media section---------------------*/

#social-media
{
    background: #f5cba7;
    padding: 100px;
}
.social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
    padding: 5px;
}
.social-icons .fa
{
    color: #fff;
    padding: 5px;
    margin-right: 8px;
    font-size: 35px;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    transition: 0.5s;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #f1c192, #825917c5);
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}
.social-icons a:hover .fa
{
    transform: translateY(-10px);
}

/*-------------------------footer---------------------------------*/

#footer
{
    background-image: linear-gradient(to right, #f5cba7, #784212);
    color: #fff;
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 20px;
}
.hr
{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: left;
}

/*-------------------------pacman section------------------------------*/

#pacman
{
    background: #f5cba7;
    text-align: center;
    color: #fff;
}
.pacman
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}
.divider-pacman
{
    margin: 10px 0;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-image: linear-gradient(to left, #f5cba7, #784212);
}
.link-pacman .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background: #784212;
}

/*-------------------------eye-exercise section------------------------------*/

#eye-exercise
{
    background: #f5cba7;
    text-align: center;
    color: #fff;
}
.eye-exercise
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}
.divider-eye
{
    margin: 10px 0;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-image: linear-gradient(to right, #f5cba7, #784212);
}
.link-eye .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background: #784212;
}

/*-------------------------bus-tracker section------------------------------*/

#bus-tracker
{
    background: #f5cba7;
    text-align: center;
    color: #fff;
    padding-bottom: 100px;
}
.bus-tracker
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}
.divider-bus
{
    margin: 10px 0;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-image: linear-gradient(to left, #f5cba7, #784212);
}
.link-bus .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background: #784212;
}
.bus-tracker img
{
    width: 300px;
    margin-bottom: 20px;
}