*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
  background-image: linear-gradient(to right, #f1c192, #825917c5);
  padding: 0 !important;
}
.navbar-brand img
{
    height: 80px;
    padding-left: 20px;
}